<h1 class="display-4">Books</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Synopsis</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% books.forEach(function(book){ %>
            <tr>
                <td><%= book.id %></td>
                <td><%= book.title %></td>
                <td><%= book.synopsis %></td>
                <td>
                    <a href="/books/edit/<%= book.id %>" class="btn btn-primary">Edit</a>
                    <form class="d-inline" action="/books/delete/<%= book.id %>" method="post">
                        <input type="Submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>