
<tbody>
    <% articles.forEach(function(article) { %>
        <tr>
                <td><%= article.id %></td>
                <td><%= article.title %></td>
                <td><%= article.body %></td>
                <td>
                    <a href="/articles/articleview/<%= article.id %>" class="btn btn-primary"><%- article.title %></a>
            <td>

        </tr>
        <%
    }) %>

<!--
<tbody>
    <% articles.forEach(function(article) { %>
        <% if (article.title === 'EN OLE KINGIN KIRJA') { %> 
        <tr>
            <h1><%- article.title %></h1>
            <p><%- article.body %></p>
            <td>

        </tr>
        <%
        }
    }) %>
</tbody>

-->